{:source-paths ["src" "example"]
 :deps {:aliases [:cljs]}
 :dev-http {8080 "example/public/"}
 :builds
 {:demo {:target     :browser
         :output-dir "example/public/js"
         :asset-path "/js"
         :modules    {:main {:init-fn demo.main/main!}}

         :devtools   {:after-load demo.main/reload!
                      :preloads   [devtools.preload]}}}}
